.alphabetic-list {
    list-style-type: decimal;
    margin: 0;
}
.alphabetic-list {
    list-style-position: outside;
}

.alphabetic-list li {
    padding-left: 5px; /* Space for the list marker */
    position: relative; /* Position relative for the pseudo-element */
}

/* Style the list marker using the ::marker pseudo-element */
.alphabetic-list li::marker {
    font-size: 2em;
    font-weight: bold;
    color: #ff6347; /* Tomato color */
}