$primary-color: #b91c1c;
$primary-light-color: #a70c1a;
$primary-dark-color: #1e1e1e;
$text-color: #020d1b;
$primary-subtle-color: rgba($primary-light-color, 0.05);

$secondary-color: #fff;
$secondary-dark-color: #fff8f8;

$box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.13);

$bp--largest: 1400px;
$bp--large: 1000px;
$bp--medium: 768px;
$bp--small: 600px;
$bp--smallest: 400px;
